version: "3.9"
services:
  frontend:
    image: nginx:alpine
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/lgstorageservice.com/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/lgstorageservice.com/privkey.pem:/etc/ssl/private/privkey.pem:ro
    ports:
      - "80:80"
      - "443:443"
    restart: always
