@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&display=swap');

body * {
  font-family: 'Noto Sans Lao', sans-serif;
  
}

.ant-menu-submenu-title,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item,
.ant-menu-item .ant-menu-item-icon {
  color: black !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;